---
import Carousel2 from '../Carousel2.astro'
---
<div class="px-3 mb-4 h-screen rounded-t-5%  z-50">
    <div data-aos="fade-up" data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-delay="-200" data-aos-anchor-placement="top-bottom">
    
    </div>
    <div class="sticky top-0">
        <div data-aos="fade-up" data-aos-mirror="false" data-aos-duration="700" data-aos-delay="" data-aos-easing="ease-in-out"
            class="flex flex-row px-12 justify-between content-start items-start pt-12">
            <div class="text-8xl font-bold">
                02
            </div>
            <div class="bg-white/75 z-40 pl-4">
                <p class="text-left text-md "></p>
            </div>
                <div class="">
                    <p class="font-bold text-right"> SELECTED WORKS | click cards to view full painting </p>
                </div>
        </div>
    </div>
    <div class="h-screen">
        <Carousel2 class="h-full">
        </Carousel2>
    </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="2000" data-aos-delay="" data-aos-mirror="false" data-aos-anchor-placement="center-bottom"  data-aos-easing="ease-out" 
        class="absolute inset-2 mt-12 blur-xl bg-gradient-to-b from-green-950/75 via-cyan-300/25 overflow-clip via-20% -z-10 rounded-t-5%">
    </div>
    <div class="absolute inset-0 bg-gradient-to-b from-green-50 to-white -z-20 overflow-clip rounded-t-5% b-3">
    </div>
</div>
