---
import Carousel from '../Carousel.astro'
---
<div class="px-3 mb-44 h-screen rounded-t-5%  z-50">
    <div data-aos="fade-up" data-aos-duration="500" data-aos-easing="ease-in-out" data-aos-delay="-200" data-aos-anchor-placement="top-bottom">
        <div class="overflow-visible h-0 -translate-y-32">
            <p class="text-lg text-justify w-80">
                Welcome to my portfolio! my name is <b>Blaise Wang</b>
                         & I'm an art student currently attending the rhode island school of 
                        design :)
            </p>
        </div>
    </div>
    <div class="sticky top-0">
        <div data-aos="fade-up" data-aos-mirror="false" data-aos-duration="700" data-aos-delay="" data-aos-easing="ease-in-out"
            class="flex flex-row px-12 justify-between content-start items-start pt-12">
            <div class="text-8xl font-bold">
                01
            </div>
            <div class="bg-white/75 z-40 pl-4">
                <p class="text-left text-md "> </p>
            </div>
                <div class="">
                    <p class="font-bold text-right"> </p>
                </div>
        </div>
    </div>
    <div class="h-screen">
        <Carousel class="h-full">
        </Carousel>
    </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="2000" data-aos-delay="" data-aos-mirror="false" data-aos-anchor-placement="center-bottom"  data-aos-easing="ease-out" 
        class="absolute inset-2 mt-12 blur-xl bg-gradient-to-b from-red-950/75 via-orange-300/25 overflow-clip via-20% -z-10 rounded-t-5%">
    </div>
    <div class="absolute inset-0 bg-gradient-to-b from-orange-50 to-white -z-20 overflow-clip rounded-t-5% b-3">
    </div>
</div>
