---
import '../../styles/global.css';
---
<hero class="w-full grid grid-cols-3 gap-10 bg-gray-100">
    <div class="bg-gray-200">
        <img class="w-4/6 float-start" src="head.svg"> 
        <p dir="ltr">
            This is going to be an image of me and a paragraph that is cool.
        </p>
    </div>
    <div class="col-start-2 col-end-4 bg-gray-300">
        <div class="object-contain">
            <div>
                <p class="text-xl">Blaise Wang</p>
            </div>
            <div>
                Student artist currently studying at Rhode Island School of Design
            </div>
        </div>
    </div>
</hero>
