---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/mainpage/Hero.astro";
import Gallery from "../components/mainpage/Gallery.astro";
import About from "../components/mainpage/About.astro";
const pageTitle = "Home";
---
<BaseLayout pageTitle={ pageTitle } class="">
    <div class="sticky top-0">
        <Hero class="sticky top-0"/>
    </div>
    <div class="sticky top-0">
        <Gallery />
    </div>
    <div>
        <About />
    </div>
</BaseLayout>