---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/mainpage/Hero.astro";
import Gallery from "../components/mainpage/Gallery.astro";
import About from "../components/mainpage/About.astro";
const pageTitle = "Home";
---
<BaseLayout pageTitle={ pageTitle } class="flex space-y-7">
    <div class="px-2 pb-7">
        <Hero />
        <Hero />
        <Hero />
        <Hero />
    </div>
    <div class="pb-8 snap-start">
        <Gallery />
    </div>
    <div>
        <About />
    </div>
</BaseLayout>