---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';


const galleryCards = await getCollection('gallery', ({ data }) => {
    const String = 'commentary';
  return data.tags.includes(String) == true;
});
---


    <div class="h-full pt-40 flex flex-col justify-start -translate-y-32">
        <div class=" flex justify-start transition-all duration-1000 ease-in-out h-5/6 px-4 rounded-lg">
            {galleryCards.map((item) => (
                <div 
                class='h-5/6 border-px basis-1/6 shrink hover:basis-full hover:translate-y-2 hover:scale-110  transition-all duration-1000 ease-out'>
                    <div class="flex-col h-full 
                        hover:text-2xl text-transparent hover:text-black hover:py-2 
                        transition-all duration-1000 rounded-lg ease-in-out">
                      <Image
                        src={item.data.cover}
                        alt="..."
                        class="w-full h-full object-cover hover:rounded-lg hover:transition-all duration-1000 ease-in-out" data-aos="fade-right" data-aos-duration="500" data-aos-anchor-placement="top-bottom" data-aos-ease="ease-out"/>
                        <div class="flex flex-row grow self-end">
                            <p class="w-content pr-10">
                                {item.data.title}
                            </p>
                        </div>
                    </div>
                </div>
            ))}
        </div>
        <div class=" pb-8 text-right pr-8 -translate-y-12">
            <div class="text-right text-6xl pb-2">
                the internet
            </div>
            <div>
                weird places to be
            </div>
        </div>
    </div>
    

