---
import Navigation from './Navigation.astro';
import { Image } from "astro:assets";
import FooterGraphic from '../assets/Blaise-Wang.svg'
---
<footer class="bg-gray-200 flex flex-col content-center justify-between">

    <div id="first-row-footer" class="flex flex-row flex-wrap p-2 items-center justify-between">
        <div class="grid grid-cols-2 gap-4 p-6">
            <Navigation section="instagram" url="https://www.instagram.com/blaise.works/"/>
            <Navigation section="linkedin" url="https://www.linkedin.com/in/blaise-wang-194026325/"/>
        </div>
        <div class="flex-initial grow">
        </div class="grow">
            <a href="mailto:blaise.ywang@gmail.com"
            class="text-4xl font-bold tracking-tight">
                blaise.ywang@gmail.com
            </a>
        </div>
    </div>

    <div id="footer-logo"class=" flex flex-row justify-end">
        <div class="flex-1 basis-0 shrink xl:basis-1/6 2xl:basis-1/2"></div>
        <div class="grow">
            <div data-aos="fade-right" data-aos-easing="ease-out" data-aos-duration="750" class="">
                <Image src={ FooterGraphic } class="opacity-5 blur-xs" alt="Blaise Wang">
            </div>
            <div data-aos="fade-right" data-aos-easing="ease-out" data-aos-duration="1000">
                <Image src={ FooterGraphic } class="opacity-25 blur-xs" alt="Blaise Wang"></Image>
            </div>
            <div data-aos="fade-right" data-aos-easing="ease-out" data-aos-duration="1500">
                <Image src={ FooterGraphic } class="opacity-75 blur-xs" alt="Blaise Wang">
            </div>
            <div data-aos="fade-right" data-aos-easing="ease-out" data-aos-duration="2000">
                <Image src={ FooterGraphic }  alt="Blaise Wang">
            </div>
        </div>
    </div>

    <div class="items-stretch pb-20">
            <div id="lines" class="">
                <div data-aos="slide-right" data-aos-duration="3000" data-aos-easing="ease-in-out-sine" class="pb-1">
                    <hr class="h-4 bg-black">
                </div>
                <div data-aos="slide-right" data-aos-duration="1500" class="pb-2">
                    <hr class="h-8 bg-black">
                </div>
                <div data-aos="slide-right" data-aos-duration="2700" data-aos-easing="ease" class="pb-5">
                    <hr class="h-2 bg-black">
                </div>
                <div data-aos="slide-right" data-aos-duration="2700" data-aos-easing="ease-out"class="pb-0">
                    <hr class="h-1 bg-black">
                </div>
            </div>
        <div class="flex flex-row justify-between">
            <p>CURRENTLY IN PROVIDENCE, RI (GMT-5)</p>
            <p>This website was made using Astro & Tailwind CSS :3</p>
        </div>
        <div class="">
            <p class="object-center  p-2">TOP</p>
        </div>
    </div>
</footer>