---
---

<header class="sticky top-0 bg-gray-100 -z-20">
    <div  class="flex flex-row justify-between p-4">
        <div class="basis-1/2 initial shrink"></div>
        <div class="basis 1/2 flex flex-row justify-between gap-20 pr-5">
            <a href="/" class="">Works</a>
            <a href="/">About</a> 
            <a href="/">Contact</a>
        </div>
    </div>
    <div class="absolute h-20">

    </div>
</header>