---
import Navigation from "./Navigation.astro";
---

<header class="container mx-auto px-1 bg-gray-300 grid grid-cols-2">
    <div>
        Logo
    </div>
    <div class="grid grid-cols-4">
        <div><Navigation url="/" section="home"/></div>
        <div><Navigation url="/" section="projects"/></div>
        <div><Navigation url="/" section="about"/></div>
        <div><Navigation url="/" section="contact"/></div>
    </div>
</header>