---
import Navigation from "./Navigation.astro"
---
<div class="relative">
    <div class="flex flex-row transition-all hover:scale-105 hover:translate-x-2 duration-500 ease-out ">
        <div class="text-3xl hover:font-bold duration-200">
            <Navigation url="/" section=":3"/>
        </div>
        <div class="w-64">
        </div>
    </div>
    <div class="absolute -translate-x-5 -translate-y-4 
    scale-y-150 -inset-1 bg-gradient-to-r from-white blur-sm -z-10">
        
    </div>
</div>