---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={ frontmatter.title }>
    <div class="grid grid-rows-2 justify-center items-center p-6">
        <div class="overflow-hidden mx-auto rounded-lg bg-gray-300">
            <img class="object-cover" src={frontmatter.image.url} alt={frontmatter.image.alt}>
        </div>
        <div class="self-start">
            <div class="flex flex-row gap-1 justify-between">
                <div data-aos="slide-left" data-aos-duration="2000" data-aos-easing="ease" class="justify-self-start">
                    <p class="text-2xl">TITLE </p>
                </div>
                <div data-aos="fade-left" data-aos-duration="2500"
                    class="basis-2/3 shrink flex-1 justify-self-start self-start pr-10 pl-2">
                    <hr class="h-px my-3 rounded bg-gray-400 border-0">
                </div>
                <p data-aos="fade-right" data-aos-duration="2500" data-aos-easing="ease-out-back" class="justify-self-end text-5xl">{frontmatter.title}</p>
            </div>
            <div class="py-2 flex flex-row justify-between">
                    <p data-aos="slide-left" data-aos-duration="3000" data-aos-easing="ease">
                        description 
                    </p>
                    <p data-aos="slide-right" data-aos-duration="3000" data-aos-easing="ease" class="justify-self-end">
                        {frontmatter.description}
                    </p>
            </div>
        </div>
    </div>
    <slot />
</BaseLayout>